:root{
    --time-transition-fill: 0.2s;
    --time-line-anim: 1s;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color:white;
}

body{
    background-color: #002731;
    width: 100%;
    height: 50%;
}

.cls-1 {
    stroke: #fff;
    stroke-miterlimit: 10;
}

.navbar {
    /* border: 1px solid black; */
    box-sizing: border-box;
    width: 100%;
}

.navbar{
    margin-top: 20px;;
    width: 100%;
    padding: 10px;
    overflow: hidden;
}

.navlogo {
    color:white;
    text-align: center;
    line-height: 50px;
    width: auto;
    /* border: solid 1px black; */
    float: left;
}

.menu {
    /* border: solid 1px black; */
    float: right;
    width: auto;
}

.menu li{
    padding:15px;
    display: inline-block;
    text-align: center;
}

a{
    color:white;
    text-decoration: none;
}

.box-prof {
    /* border: solid 1px black; */
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%,-50%);
}

.box-prof .list-prof{
}

.box-prof .list-prof > ul{
    text-transform: uppercase;
    padding: 2em;
}

#logo {
    position:absolute;
    width: 50%;
    top:50%;
    left:50%;
    transform: translate(-90%,-50%);
    fill: none;
}

@keyframes line-anim {
    to{
        stroke-dashoffset: 0;
    }
}

@keyframes fill{
    from{
        fill: transparent;
    }
    to{
        fill: white;
    }
}